body {
    font-family: 'Geogria', serif;
     margin: 20px;
}  
.container {
    border: 2px solid #da1a2a;
    display: flex;
    justify-content: center;
    align-items: center
    flex-direction : row;
    gap: 40px;
    padding : 40px;
    margin: 20px;    
}
.card {
background-color: rgb(236, 238, 231);
width : 220px;
text-align: center;
border-radius: 10px;
padding : 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
border : 2px solid #121de1;
}
.circle {
background-color: #78d65e;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 50%;
width: 70px;
height: 70px;
line-height : 70px;
margin: 0 auto 15px;
        }

    
